# Programming lab assignment: 3
# Name  : Muhammad Ibrahim
# Reg No:FA25-BBD-037

## Question: 1

In [1]:


ani_lst = ["dog", "cat", "rabbit"]

for animal in ani_lst:
    print(f"A {animal} would make a great pet.")

print("Any of these animals would make a great pet!\n")

A dog would make a great pet.
A cat would make a great pet.
A rabbit would make a great pet.
Any of these animals would make a great pet!

## Question: 2

In [2]:
multiples_of_3 = list(range(3, 31, 3))
print("Multiples of 3 from 3 to 30:")
for num in multiples_of_3:
    print(num)

cubes = [x**3 for x in range(1, 11)]
print("\nFirst 10 cubes are:")
print(cubes)

Multiples of 3 from 3 to 30:
3
6
9
12
15
18
21
24
27
30

First 10 cubes are:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Question: 3

In [5]:
foods = ("pizza", "burger", "pasta", "salad", "soup")
print("Original Menu:")
for food in foods:
    print(food)
    
# Trying to modify a tuple (will cause an error)


foods_new = ("sandwich", "steak", "pasta", "salad", "dessert")
print("\nRevised Menu:")
for food in foods_new:
    print(food)

Original Menu:
pizza
burger
pasta
salad
soup

Revised Menu:
sandwich
steak
pasta
salad
dessert

## Question 4

In [6]:


usernames = ["admin", "ahmad", "fatima", "ali", "evelyn"]

for user in usernames:
    if user == "admin":
        print("Hello admin, would you like to see a status report?")
    else:
        print(f"Hello {user.title()}, thank you for logging in again.")

Hello admin, would you like to see a status report?
Hello Ahmad, thank you for logging in again.
Hello Fatima, thank you for logging in again.
Hello Ali, thank you for logging in again.
Hello Evelyn, thank you for logging in again.

## Question 5

In [8]:

current_users = ["ali", "Fatima", "ahmad", "Evelyn", "Amna"]
new_users = ["ALI", "usman", "zain", "evelyn", "Bilal"]

for new_user in new_users:
    if new_user.lower() in current_users or new_user.title() in current_users or new_user.upper() in current_users:
        print(f"{new_user} has already been used. You need to create a new one.")
    else:
        print(f"{new_user} is available.")

ALI has already been used. You need to create a new one.
usman is available.
zain is available.
evelyn has already been used. You need to create a new one.
Bilal is available.